{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "react-native/react-native": true
  },
  "plugins": ["react", "react-native", "@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended"
  ],
  "globals": { "Atomics": "readonly", "SharedArrayBuffer": "readonly" },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "latest"
    }
  },
  "ignorePatterns": ["**/*.gen.ts"],
  "rules": {
    "react/prop-types": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/ban-ts-comment": "warn",
    "@typescript-eslint/consistent-type-imports": "error",
    "react-native/no-unused-styles": "error",
    "react-native/sort-styles": "error",
    "react-native/no-single-element-style-arrays": "error",
    "react-native/no-inline-styles": "error"
  }
}
