@import "@reach/dialog/styles.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* purgecss start ignore */

:root {
  --primary: hsl(349,100%,59%);
  --primary-dark: hsl(349,67%,49%);
  --primary-label: #fff;
  --secondary: hsl(37, 91%, 55%);
  --secondary-light: hsl(37, 91%, 65%);
  --secondary-dark: hsl(37, 91%, 50%);
  --secondary-label: #000;
  --background: hsl(265, 48%, 8%);
  --background-secondary: hsl(266, 44%, 7%);
  --background-tertiary: hsl(264, 43%, 9%);
  --background-bar: hsl(265, 43%, 11%);
  --background-backdrop: hsla(265, 43%, 5%, 75%);
  --button: hsl(264, 35%, 13%);
  --button-dark: hsl(264, 35%, 9%);
  --foreground: hsl(270, 4%, 91%);
  --foreground-secondary: hsla(270, 4%, 91%, 85%);
  --foreground-tertiary: hsla(270, 4%, 91%, 70%);
  --foreground-backdrop: hsla(263, 20%, 18%, 50%);
  --danger: hsl(357, 67%, 53%);
  --danger-light: hsl(357, 73%, 59%);
  --danger-dark: hsl(357, 69%, 47%);
  --danger-label: #fff;
}

@layer utilities {
  @variants responsive {
    .absolute-center {
      @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
    }
    .flex-center {
      align-items: center;
      justify-content: center;
    }
  }
}

body {
  @apply text-foreground bg-background;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

*::-webkit-scrollbar {
  background-color: transparent;
  @apply w-2 h-2;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-sm bg-foreground-tertiary;
  &:hover {
    @apply bg-foreground-secondary;
  }
}

[role=button]:disabled, button:disabled, input:disabled {
  @apply cursor-not-allowed opacity-50;
}

.label {
  @apply block text-foreground-secondary text-sm font-bold mb-2;
}

.btn, .label, .input {
  &:focus {
    outline: none;
  }
}

.input {
  @apply border-button-dark border-2 bg-transparent py-2 px-4 text-foreground rounded-lg;
  &:not([disabled]) {
    &:focus {
      @apply border-button;
    }
  }
}

.btn {
  @apply inline-flex items-center justify-center font-bold py-2 px-4 whitespace-nowrap rounded-lg;
  @apply transition-all;
  /* Theme */
  @apply text-foreground bg-button-dark;
  &:not([disabled]) {
    &:hover, &:focus {
      @apply bg-button;
      @apply border-0;
      transform: translateY(-2px);
    }
  }
  &.btn-primary {
    @apply text-primary-label bg-primary-dark;
    &:not([disabled]) {
      &:hover, &:focus {
        @apply bg-primary;
      }
    }
  }
  &.btn-danger {
    @apply text-danger-label bg-danger-dark;
    &:not([disabled]) {
      &:hover, &:focus {
        @apply bg-danger;
      }
    }
  }
}

.block-skeleton {
  @apply relative overflow-hidden;
}

.block-skeleton::before {
  z-index: 1;
  content: "";
  @apply absolute w-full h-full inset-0 bg-foreground-backdrop animate-pulse;
}

.backdrop-blur {
  backdrop-filter: blur(20px);
}
.backdrop-none {
  backdrop-filter: none;
}

.bordered-box {
  @apply bg-background border-background-tertiary;
  border-width: 1px;
}

.nav {
  @apply absolute top-0 h-12 w-full z-30 overflow-x-auto flex justify-between items-center;
}

.text-inline-link {
  @apply hover:opacity-50 focus:opacity-50 focus:outline-none transition-opacity cursor-pointer;
}

[data-reach-dialog-overlay] {
  @apply fixed w-full h-full inset-0 flex flex-center z-40 bg-background-backdrop;
  [data-reach-dialog-content] {
    width: theme('maxWidth.3xl');
    max-width: calc(100vw - 1rem);
    max-height: calc(100vh - 1rem);
    @apply bg-background rounded-lg text-foreground overflow-hidden m-0 p-0 border-2 border-background-secondary;
    @apply relative flex flex-col;
    @apply transition;
  }
}

:root {
  --reach-tabs: 1;
}

[data-reach-tabs] {
  [data-reach-tab] {
    &:focus {
      outline: none;
    }
    &:not([disabled]):not([data-selected]) {
      &:hover, &:focus {
        @apply opacity-75;
      }
    }
  }

  [data-reach-tab-panel]:focus, [data-reach-tab-panels]:focus {
    outline: none;
  }
}

.spinning-border {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid transparent;
  border-left-color: rgba(255, 255, 255, 0.5);
  background: transparent;
  animation: rotate-s-loader 1s linear infinite;
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* purgecss end ignore */
