@import "@reach/dialog/styles.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* purgecss start ignore */

@layer utilities {
  @variants responsive {
    .absolute-center {
      @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
    }
    .flex-center {
      align-items: center;
      justify-content: center;
    }
  }
}

body {
  @apply text-foreground bg-background;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

*::-webkit-scrollbar {
  background-color: transparent;
  @apply w-2 h-2;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-sm bg-foreground-tertiary;
  &:hover {
    @apply bg-foreground-secondary;
  }
}

[role=button]:disabled, button:disabled, input:disabled {
  @apply cursor-not-allowed opacity-50;
}

.label {
  @apply block text-foreground-secondary text-sm font-bold mb-2;
}

.btn, .label, .input {
  &:focus {
    outline: none;
  }
}

.input {
  @apply border-background-secondary border-2 bg-transparent py-2 px-4 text-foreground rounded-lg;
  &:not([disabled]) {
    &:focus {
      @apply border-background-tertiary;
    }
  }
}

.btn {
  @apply inline-flex items-center justify-center font-bold py-2 px-4 whitespace-nowrap rounded-lg;
  @apply transition-colors;
  /* Theme */
  @apply bg-background-secondary text-foreground;
  &:not([disabled]) {
    &:hover, &:focus {
      @apply bg-background-tertiary;
      @apply border-0;
    }
  }
  &.btn-primary {
    @apply text-primary-label bg-primary;
    &:not([disabled]) {
      &:hover, &:focus {
        @apply bg-primary-dark;
      }
    }
  }
  &.btn-danger {
    @apply text-danger-label;
    @apply bg-danger;
    &:not([disabled]) {
      &:hover, &:focus {
        @apply bg-danger-dark;
      }
    }
  }
  &.btn-transparent {
    @apply text-foreground bg-transparent;
    &:not([disabled]) {
      &:hover, &:focus {
        @apply bg-transparent text-foreground text-opacity-50;
      }
    }
  }
}

.block-skeleton {
  @apply animate-pulse rounded-full bg-foreground-backdrop;
}

.backdrop-blur {
  backdrop-filter: blur(20px);
}
.backdrop-none {
  backdrop-filter: none;
}

.bordered-box {
  @apply bg-background border-background-tertiary;
  border-width: 1px;
}

.nav {
  @apply absolute top-0 h-12 w-full z-30 overflow-x-auto flex justify-between items-center;
}

.text-inline-link {
  @apply hover:opacity-50 focus:opacity-50 focus:outline-none transition-opacity cursor-pointer;
}

.page-title {
  @apply px-4 mb-2 mt-6 font-bold text-4xl;
}

[data-reach-dialog-overlay] {
  @apply fixed w-full h-full inset-0 flex flex-center z-40 bg-background-backdrop;
  [data-reach-dialog-content] {
    width: theme('maxWidth.5xl');
    max-width: calc(100vw - 1rem);
    max-height: calc(100vh - 1rem);
    @apply bg-background rounded-lg text-foreground overflow-hidden m-0 p-0 border-2 border-background-secondary;
    @apply relative flex flex-col;
    @apply transition;
  }
  .modal-footer {
    @apply flex items-center justify-end space-x-2 px-4 py-3 border-background-secondary border-t-2;
  }
}

:root {
  --reach-tabs: 1;
}

[data-reach-tabs] {
  [data-reach-tab] {
    &:focus {
      outline: none;
    }
    &:not([disabled]):not([data-selected]) {
      &:hover, &:focus {
        @apply opacity-75;
      }
    }
  }

  [data-reach-tab-panel]:focus, [data-reach-tab-panels]:focus {
    outline: none;
  }
}

.content {
  @apply text-foreground;
  h2, h3, h4, h5, h6 {
    @apply text-foreground mt-8 mb-2 leading-relaxed font-bold;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  p {
    @apply mb-4 leading-loose;
  }
  a {
    @apply text-primary transition;
    &:hover {
      @apply text-opacity-75;
    }
  }
  ul {
    @apply pl-6 my-2 list-disc list-inside;
    li {
      ul {
        @apply my-0;
      }
    }
  }
  ol {
    @apply pl-6 my-2 list-decimal list-inside;
  }
  img {
    @apply rounded-lg shadow-lg overflow-hidden;
  }
}

.content-support {
  h2 {
    @apply text-center;
  }
}

.spinning-border {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid transparent;
  border-left-color: rgb(29, 161, 242);
  background: transparent;
  animation: rotate-s-loader 1s linear infinite;
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* purgecss end ignore */
