@import "@reach/dialog/styles.css";

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer utilities {
  .absolute-center {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
  .flex-center {
    align-items: center;
    justify-content: center;
  }
  .bordered-box {
    @apply bg-blue border-blue-tertiary;
    border-width: 1px;
  }
}

body {
  @apply text-foreground bg-background font-sans;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

*::-webkit-scrollbar {
  background-color: transparent;
  @apply w-2 h-2;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-sm bg-foreground-tertiary;
  &:hover {
    @apply bg-foreground-secondary;
  }
}

[role=button]:disabled, button:disabled, input:disabled {
  @apply cursor-not-allowed opacity-50;
}

.nav {
  @apply absolute top-0 h-12 w-full z-30 overflow-x-auto flex justify-between items-center;
}

.label {
  @apply block text-foreground-secondary text-sm font-bold mb-2;
}

.button, .label, .input {
  &:focus {
    outline: none;
  }
}

.input {
  @apply border-background-secondary border-2 bg-transparent py-2 px-4 text-foreground rounded-lg;
  &:not([disabled]) {
    &:focus {
      @apply border-background-tertiary;
    }
  }
}

.button {
  @apply inline-flex items-center justify-center font-bold py-2 px-4 whitespace-no-wrap rounded-lg;
  @apply transition-colors ease-in-out duration-200;
  /* Theme */
  @apply bg-background-secondary text-foreground;
  &:not([disabled]) {
    &:hover, &:focus {
      @apply bg-background-tertiary;
      @apply border-none;
    }
  }
  &.button-primary {
    @apply text-pink-label bg-pink;
    &:not([disabled]) {
      &:hover, &:focus {
        @apply bg-pink-dark;
      }
    }
  }
  &.button-danger {
    @apply text-danger-label;
    @apply bg-danger;
    &:not([disabled]) {
      &:hover, &:focus {
        @apply bg-danger-dark;
      }
    }
  }
  &.button-success {
    @apply text-success-label;
    @apply bg-success;
    &:not([disabled]) {
      &:hover, &:focus {
        @apply bg-success-dark;
      }
    }
  }
  &.button-warning {
    @apply text-warning-label;
    @apply bg-warning;
    &:not([disabled]) {
      &:hover, &:focus {
        @apply bg-warning-dark;
      }
    }
  }
  &.button-foreground {
    @apply text-background bg-foreground;
    &:not([disabled]) {
      &:hover, &:focus {
        @apply text-background bg-foreground-secondary;
      }
    }
  }
  &.button-light {
    @apply text-foreground bg-foreground bg-opacity-25;
    &:not([disabled]) {
      &:hover, &:focus {
        @apply bg-foreground bg-opacity-50;
      }
    }
  }
  &.button-transparent {
    @apply text-foreground bg-transparent;
    &:not([disabled]) {
      &:hover, &:focus {
        @apply bg-transparent text-foreground text-opacity-50;
      }
    }
  }
}

.brand-youtube {
  background: #f00 !important;
  color: #fff !important;
}

.brand-spotify {
  background: #1db954 !important;
  color: #fff !important;
}

.brand-facebook {
  background: #4267b2 !important;
  color: #fff !important;
}

.brand-twitter {
  background: #1da1f2 !important;
  color: #fff !important;
}

[data-reach-dialog-overlay] {
  @apply fixed w-full h-full inset-0 flex flex-center z-40 bg-black bg-opacity-75;
  animation: fadeIn ease .4s;
  [data-reach-dialog-content] {
    background: #000814;
    width: theme('maxWidth.5xl');
    max-width: calc(100vw - 1rem);
    max-height: calc(100vh - 1rem);
    @apply rounded-lg text-foreground overflow-hidden m-0 p-0 border-2 border-background-secondary;
    @apply relative flex flex-col;
    @apply transition ease-in-out duration-200;
  }
  .modal-footer > .button {
    @apply flex-1 rounded-none;
  }
}

:root {
  --reach-tabs: 1;
}

[data-reach-tabs] {
  [data-reach-tab] {
    &:focus {
      outline: none;
    }
    &:not([disabled]):not([data-selected]) {
      &:hover, &:focus {
        @apply opacity-75;
      }
    }
  }

  [data-reach-tab-panel]:focus, [data-reach-tab-panels]:focus {
    outline: none;
  }
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.content {
  @apply text-foreground;
  h2, h3, h4, h5, h6 {
    @apply text-foreground mt-8 mb-2 leading-relaxed font-semibold;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  p {
    @apply mb-4 leading-loose;
  }
  a {
    @apply text-pink transition ease-in-out duration-75;
    &:hover {
      @apply text-opacity-75;
    }
  }
  ul {
    @apply pl-6 my-2 list-disc list-inside;
    li {
      ul {
        @apply my-0;
      }
    }
  }
  ol {
    @apply pl-6 my-2 list-decimal list-inside;
  }
  img {
    @apply rounded-lg shadow-lg overflow-hidden;
  }
}

.content-support {
  h2 {
    @apply text-center;
  }
  h4 {
    @apply text-warning-light;
  }
}

.pt-youtube {
  @apply pt-48 md:pt-0;
}

/* Patches */

.h-screen {
  min-height: -webkit-fill-available;
}
